@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-white text-gray-900;
    font-feature-settings: "rlig" 1, "calt" 1;
    font-family: var(--font-inter), sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-manrope), sans-serif;
  }
}

